/* ===========================
   RESET & GLOBAL
=========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family:'Poppins',sans-serif;

    width:100%;

    min-height:100vh;

    overflow:hidden;

    background:linear-gradient(135deg,#14001f,#33004d,#5a0077);

    color:#ffffff;

    display:flex;

    justify-content:center;

    align-items:center;

}

/* ===========================
   APP
=========================== */

#app{

    position:relative;

    width:100%;

    height:100vh;

    overflow:hidden;

   /* ===========================
   BACKGROUND
=========================== */

#background{

    position:fixed;

    inset:0;

    z-index:-1;

    overflow:hidden;

}

#stars{

    position:absolute;

    inset:0;

    background-image:
        radial-gradient(rgba(255,255,255,.5) 1px, transparent 1px);

    background-size:35px 35px;

    opacity:.25;

}

#hearts{

    position:absolute;

    inset:0;

    overflow:hidden;

}

.heart{

    position:absolute;

    color:#ff4f93;

    font-size:20px;

    animation:floatHeart linear infinite;

    opacity:.7;

}

@keyframes floatHeart{

    0%{

        transform:translateY(110vh) scale(.5);

        opacity:0;

    }

    20%{

        opacity:.8;

    }

    100%{

        transform:translateY(-20vh) scale(1.2);

        opacity:0;

    }

}


}
